<div class="container-fluid">
  <h1>Buscador</h1>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Buscar por marca o nombre" (keyup)="search($event)" [(ngModel)]="inputSearch">
  </div>

  <div class="list-group-container" *ngIf="list && list.length" >
    <ul class="list-group" *ngFor="let brand of list">
      <li class="list-group-item" *ngFor="let article of brand.articles" (click)="select((brand.name + ' ' + article.name))"><span [ngClass]="{'brand-name': brand.active}">{{brand.name}}</span> {{article.name}}</li>
    </ul>
  </div>
</div>
